Django==4.2.16
psycopg2-binary==2.9.11
django-ratelimit==4.1.0
python-decouple==3.8
defusedxml==0.7.1
django-axes==8.3.1
django-otp==1.7.0
django-two-factor-auth==1.18.1
qrcode==8.2
Pillow==12.0.0
PyPDF2==3.0.1
openpyxl==3.1.5
jsonschema==4.25.1
requests==2.32.3
django-formtools==2.5.1
django-phonenumber-field==8.1.0
