{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Report</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/IBE-logo.png' %}">
    <script src="{% static 'js/addReport.js' %}" defer></script>

</head>
<body>
    <div class="navbar">
        <img src="{% static 'assets/IBE-logo.png' %}" alt="IBE Logo" class="logo">
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'view_reports' %}">View Reports</a></li>
        </ul>
    </div>

    <div class="form-container">
        <h2>Add Report</h2>
        <form id="reportForm">
            <label>Report Name:</label>
            <input type="text" id="report_name" required>

            <label>Date:</label>
            <input type="date" id="date" required>

            <label>Authors:</label>
            <input type="text" id="authors" required>

            <label>Document Type:</label>
            <select name="doc_type" id="type" class="doc_type" required>
                <option value="" disabled selected hidden>Select document type</option>
                <option value="Article">Article</option>
                <option value="Conference paper">Conference paper</option>
                <option value="Review">Review</option>
                <option value="Book chapter">Book chapter</option>
                <option value="Erratum">Erratum</option>
                <option value="Book">Book</option>
                <option value="Conference review">Conference review</option>
                <option value="Editorial">Editorial</option>
                <option value="Note">Note</option>
                <option value="Short survey">Short survey</option>
                <option value="Retracted">Retracted</option>
                <option value="Report">Report</option>
                <option value="Data paper">Data paper</option>
            </select>

            <label>Subject:</label>
            <input type="text" id="subject" required>

            <label>Upload File:</label>
            <input type="file" id="report_file" accept=".pdf,.doc,.docx">


            <label>Description:</label>
            <textarea id="description" rows="4" required></textarea>

            <button type="submit" class="button">Save Report</button>
        </form>
    </div>
</body>
</html>
