{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/IBE-logo.png' %}">    
    <script src="{% static 'js/report.js' %}" defer></script>
</head>
<body>
    <div class="navbar">
        <img src="{% static 'assets/IBE-logo.png' %}" alt="IBE Logo" class="logo">
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'form' %}">Add Report</a></li>
        </ul>
    </div>

    <div class="container">
        <h2 class="reprtHeader">All Reports</h2>
        <div id="reportList"></div>
    </div>
</body>
</html>
