{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="icon" href="{% static 'assets/IBE-logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
  <div class="left-panel">
    <img src="{% static 'assets/IBE-logo.png' %}" alt="IBE Logo">
    <h1>Demographic Consent</h1>
    <p>To help us ensure fair and inclusive analysis, you may consent to having your anonymized activity
    data included in peer statistics used for equity and bias-reduction reporting.</p>
    <br>
    <p>This is completely optional. Your decision will not affect your ability to use your account.</p>
  </div>

  <div class="right-panel">
    <div class="form-container">
      <h2>Create Account</h2>
      <p>Enter your details below to create a new account.</p>

      <form id="signupForm" method="POST">
        {% csrf_token %}

        <label>Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>

        <label>Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label>Password</label>

        <div class="password-wrapper">
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
          <span id="strengthDot"></span>
        </div>

        

        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm your password" required>

        <div class="consent">
          <input type="checkbox" id="consent" name="consent" value="true">
          <label for="consent" class="consent-label">
            I agree to having my anonymized activity data included in peer statistics.
          </label>
        </div>

        <button
          type="submit"
          class="button"
          data-login-url="{% url 'login' %}">
          Sign Up
        </button>
      </form>

      <p class="bottom-text">
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
  </div>

  <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>