{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/IBE-logo.png' %}">

</head>
<body>
    <div class="navbar">
        <img src="{% static 'assets/IBE-logo.png' %}" alt="IBE Logo" class="logo">
    </div>

    <div class="container">
        <h2>Welcome to Research Institute Management System</h2>

         <div class="auth-buttons">
            <a class="button" href="{% url 'login' %}">Login</a>
            <a class="button" href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</body>
</html>
